.InfoBlockContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .InfoBlockContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

